.Business{
    width: 100%;
    height: 739px;
    background-color: $Color-black;
    padding-left: 89px;
    padding-right: 89px;
}
.logos{
    width: 100%;
    height: 347px;
    margin-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}