//COLORES
$Color-black:#010506;
$Color-grey-dark:#242629;
$Color-gray-light:#72757E;
$Color-green:#2CB67D;
$Color-purple:#7F5AF0;
$Color-white:#EEF8F7;
$Color-grey:#94A1B2;
$Color-blue:#5928E5;
$Color-orange:  #E35F21;

@function porcentaje($width){
    @return  $width * 100%/1366;
};
//Fuente
$font: 'Passion One', cursive;

//Tipografia
*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    margin: 0;
    padding-top: 88px;
    scroll-behavior: smooth;
}
html{
    scroll-behavior: smooth;
}
h1{
    //styleName: Headline 1;
    font-family: $font;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 5rem;
    letter-spacing: 0.125rem ;
    text-align: left;
    color: $Color-white;
}
h3{
    //styleName: Headline 3;
    font-family: $font;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 1px;
    text-align: left;
}
h2{
    //styleName: Headline 2;
    font-family:$font;
    font-size: 4rem;
    font-style: normal;
    font-weight: 700;
    line-height: 4.75rem;
    letter-spacing: 1px;
    text-align: center;
    color: $Color-white;
}
h4{
    //styleName: Headline 4;
    font-family: $font;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 1px;
    text-align: left;
}
h5{
    //styleName: Headline 5;
    font-family: $font;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;  
    letter-spacing: 1px;
    text-align: left;

}
.body_1{
    //styleName: /Body 1/Regular;
    font-family: $font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: left;
}
.body_1-bold{
    @extend .body_1;
    font-weight: 700;
}
.body_2{
    //styleName: /Body 2/Regular;
    font-family: $font;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: left;
}
.body_2-bold{
    @extend .body_2;
    font-weight: 700;
}
.button{
    //styleName: /BUTTON;
    font-family: $font;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 1px;
    text-align: center;
}

@mixin button ($width) {
    width: $width;
    height: 51px;
    background-color: $Color-orange;
    color: $Color-white;
    border: unset;
    outline: none;
    border-radius: 4px;
    transition: .3s ease all;
}


@mixin small {
    @media only screen and (max-width: 600px) {
      @content;
    }
}
  
@mixin medium {
    @media only screen and (max-width: 1024px) {
      @content;
    }
}
  
@mixin large {
    @media only screen and (min-width: 1440px) {
      @content;
    }
}
@mixin tablet {
  @media only screen and (max-width: 768px ) and (min-width: 600px)  {
    @content;
  }
}

