.hero{
    width: 100%;
    height: 660px;
    background-color: $Color-black;
    &__content{
        width: 100%;
        height: 100%;
        padding-left: 89px;
        padding-top: 80px;
    }
    p{
        color: $Color-gray-light;
        margin-top: 24px;
    }
    &__btn{
        @include button(243px);
        margin-top: 24px;
        transition: .3s all ease;
        background-color: $Color-orange;
        a{
            text-decoration: none;
            color: $Color-white;
        }
    }
    &__btn:hover{
            background-color: $Color-green;
    }
}
@media (max-width: 760px) {
body{
    background-color: $Color-black;
}
 .hero{
     width:360px ;
     max-width: 760px;
     background-color: $Color-black;
     height: 511px;
     max-height: 660px;
     &__content{
        width: 100%;
        height: 100%;
        padding-left: 16px;
        padding-top: 50px;
        h1{
            font-family: $font;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;

        }
    }
   
}   
}