.proyects{
    width: 100%;
    height: 3460px;
    background-color: $Color-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    h2{
        margin-bottom: 80px;
    }
    span{
        color: $Color-grey;
    }
    h3{
        color: $Color-grey;
    }
}

.proyect{
    width: 781px;
    height: 688px;
    &__image{
        width: 100%;
        height: 450px;
        background-color: $Color-white;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__content{
        width: 100%;
        height: 198px;
        margin-top: 40px;
    }
    &__actions{
        width: 531px;
        height: 75px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    &__btn{
        @include button(257px);  
        a{
            text-decoration: none;
            color: $Color-white;
        }
        &--dark{
            @extend .proyect__btn;
            background-color: $Color-black;
            border: 1px solid $Color-purple;
            
            a{
                text-decoration: none;
                color: $Color-purple;
            }
          
        }
        &--dark:hover{
            background-color: $Color-purple;
            color: $Color-white;
            border: none;
        }
       
    }
    &__btn:hover{
        background-color: #2CB67D;
    }
}

.Amazonas:hover{
    background-color: #6596d9;
}
.Niko:hover{
    background-color: #e5582d;
}
.Netnet:hover{
    background-color: #ff5251;
}
.Prince:hover{
    background-color: #FF906D;
}
.Pets:hover{
    background-color: #FEC7D7;

}
@media (max-width: 760px) {
    .proyects{
        background-color: $Color-black;
        height: 2580px;
        width: 360px;
        h2{
            margin-bottom: 40px;
            font-family: Arvo;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;

        }
    }
    .proyect{
        height: 523px;
        width: 328px;
        &__image{
            width: 100%;
            height: 250px;
            background-color: $Color-white;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__content{
            height: 257px;
            width: 328px;
            margin-top: 16px;
            h3{
                //styleName: Headline 5;
                font-family: Arvo;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;

            }
        }
        &__actions{
            width: 100%;
            height: 120px;
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }
    }
}